# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/oop-pricecalculator.iml
.idea/php.xml
.idea/vcs.xml
.idea/webServers.xml
